@{
    Layout = null; // This line indicates that this view doesn't use a layout page.
}
@if (User.IsInRole("Admin"))
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Admin Panel</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/adminpanel.css" />
        <script src="https://kit.fontawesome.com/af00605393.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark admin-navbar">
            <a class="logo" href="#">
                <img src="~/lib/images/logogit.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto navbar">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Home/GrafikUiA">GRAFIK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Magazyn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Home/Profil">LISTA PROFILI</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button class="button2" type="submit" class=" nav-link btn btn-link text-dark">WYLOGUJ SIĘ</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="panel">
            <div class="info-box unique-visitors">
                <div class="icon-container">
                    <i class="fa-solid fa-users"></i>
                </div>
                <h2>Użytkownicy</h2>
                <p>Liczba zarejestrowanych użytkowników: @ViewBag.RegisteredUsersCount</p>
            </div>

            <div class="info-box user-count">
                <div class="icon-container">
                    <i class="fa-solid fa-ticket"></i>
                </div>
                <h2>Zakupione karnety: </h2>
                <p>
                    Suma kwot dla studentów: @ViewBag.SumaKwotyStudent
                    <br />
                    Suma kwot dla standardowych: @ViewBag.SumaKwotyStandard
                </p>
            </div>

            <div class="info-box gym-people">
                <div class="icon-container">
                    <i class="fas fa-dumbbell fa-2x"></i>
                </div>
                <h2>Osoby na siłowni</h2>
                <p>Aktualna liczba osób na siłowni: <span>@ViewBag.VisitorCount</span></p>
            </div>

            <div class="info-box product-count">
                <div class="icon-container">
                    <i class="fas fa-shopping-basket fa-2x"></i>
                </div>
                <h2>Ilość produktów</h2>
                <p>Ilość produktów (odżywki): 0</p>
            </div>

            <div class="info-box weather">
                <div class="icon-container">
                    <i class="fas fa-sun fa-2x"></i>
                </div>
                <h2>Aktualna pogoda</h2>
                <div id="weather-info">
                    <p id="temperature"></p>
                </div>
            </div>
        </div>

        <div class="container-fluid admin-content">
            <div class="row">
                <div class="col-lg-3">
                    <!-- Sidebar/Menu -->
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Lorem ipsum dolor sit amet</a>
                        <a href="#" class="list-group-item list-group-item-action">Consectetur adipiscing elit</a>
                        <a href="#" class="list-group-item list-group-item-action">Ed do eiusmod tempor incididunt</a>
                    </div>
                    <div class="admin-card2">
                        <div style="width: 400px; height: 400px;">
                            <canvas id="myDoughnutChart"></canvas>
                        </div>
                        <script>
                            // Pobierz sumy kwot ze ViewBag
                            var sumaKwotyStudent = @ViewBag.SumaKwotyStudent;
                            var sumaKwotyStandard = @ViewBag.SumaKwotyStandard;

                            // Oblicz sumę
                            var sumaKwoty = sumaKwotyStudent + sumaKwotyStandard;

                            // Utwórz dane do wykresu
                            var ctxDoughnut = document.getElementById('myDoughnutChart').getContext('2d');
                            var myDoughnutChart = new Chart(ctxDoughnut, {
                                type: 'pie',
                                data: {
                                    labels: ['Suma kwot dla studentów', 'Suma kwot dla standardowych'],
                                    datasets: [{
                                        data: [sumaKwotyStudent, sumaKwotyStandard],
                                        backgroundColor: [
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(255, 99, 132, 1)',
                                        ],
                                        borderColor: [
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(255, 99, 132, 1)',
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    plugins: {
                                        legend: {
                                            display: true,
                                            position: 'bottom', // Zmieniłem pozycję legendy na dół
                                        },
                                        title: {
                                            display: false,
                                            text: 'Suma kwot dla studentów i standardowych'
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
                <div class="col-lg-9">
                    <!-- Main Content -->
                    <div class="admin-card">
                        <h2>Wykres</h2>
                        <canvas id="myChart" width="300" height="150"></canvas>
                        <script>
                            // Pobierz sumy kwot ze ViewBag
                            var sumaKwotyStudent = @ViewBag.SumaKwotyStudent;
                            var sumaKwotyStandard = @ViewBag.SumaKwotyStandard;

                            // Utwórz dane do wykresu
                            var ctx = document.getElementById('myChart').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['Suma kwot dla studentów', 'Suma kwot dla standardowych'],
                                    datasets: [{
                                        label: 'Suma kwot',
                                        data: [sumaKwotyStudent, sumaKwotyStandard],
                                        backgroundColor: [
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(255, 99, 132, 0.2)',
                                        ],
                                        borderColor: [
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(255, 99, 132, 1)',
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const apiKey = 'be84c952ab6efcfda62fcff33a216737';
            const latitude = 51.7592;
            const longitude = 19.4550;
            const apiUrl = `https://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=${apiKey}&units=metric`;

            async function getWeather() {
                try {
                    const response = await fetch(apiUrl);
                    const data = await response.json();

                    if (data.main && data.main.temp) {
                        const temperature = data.main.temp;
                        document.getElementById('temperature').textContent = `${temperature.toFixed(0)}°C`;
                        document.getElementById('temperature2').textContent = `${temperature.toFixed(0)}°C`;

                        const dressAdvice = document.getElementById('dress-advice');
                        if (temperature <= 15) {
                            dressAdvice.textContent = 'Ubierz się ciepło';
                        } else {
                            dressAdvice.textContent = 'Nie musisz się ubierać ciepło.';
                        }
                    } else {
                        throw new Error('Błąd podczas pobierania danych pogodowych.');
                    }
                } catch (error) {
                    console.error('Błąd:', error.message);
                }
            }

            document.addEventListener('DOMContentLoaded', getWeather);
        </script>
    </body>
    </html>
}



